/*  Showing the background */

body {
font-family: Verdana, sans-serif;
background-image: url(photo1.webp);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

/* Main body of the website. Layout of the sections*/
main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    
}

/* Self-portrait image */
.photo2 {
    width: 18%;
    height: auto;
    padding: 1%;
}

/* Class from the header */
.photo {
    
    width: 35%;
    height: auto;
    padding: 1%;
}

/* Class from the header */
nav {
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
}

/* Styling for the <nav> and anchors <a>*/
nav a {

    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: #a56a6a;
}

/* Using a pseudo property - changes background of menu links */
nav a:hover {

    background-color: lightcyan;
}

/* Class from the header - Top of webpage*/
.fancy {
    border-radius: 15px;
    background-color: rgb(19, 111, 147);
    color: white;
    border: blanchedalmond; 
    text-align: center;

}
/* Portfolio 1.0 - CSS; text that glides across screen */

.glow {
    text-shadow: 2px 2px #a56a6a;
    background-color: skyblue;
    width: 170px;
    text-align: center;
}

/* CSS Program for the Upcoming Programs */

.hover2 {
    display: flex;
    position: relative; 
    flex-direction: row;
    justify-content: center;

}

.about1{

    display: inline-block;
    border-radius: 10px;
    border-bottom: solid green;
    border-left: solid green;
    background-color: rgb(221, 182, 104);
    margin: 1%;
    width: 70%;
    height: auto;
    padding: 5%;
}


/* Design for each section [3 currently]*/
.about{

    display: inline-block;
    border-radius: 10px;
    border-bottom: solid green;
    border-left: solid green;
    background-color: rgb(221, 182, 104);
    margin: 1%;
    width: 40%;
    height: auto;
    padding: 5%;
            
}

/* CSS - to allow screen to adapt to pixel sizes*/
@media screen and (max-width: 768px) {
    main{
        flex-direction: column;
        flex-wrap: wrap;
    }

}



